@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Салон красоты</h1>
    <p>Информационная система ASP.NET Core.</p>

    <div class="home-page-navigation">
        <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">Сотрудники</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Schedules" asp-action="Index">Графики</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Index">Услуги</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Index">Клиенты</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Заказы</a>
    </div>
</div>
